
.c-box{
    width: 100%;
    height: 100vh;
    background: url('../img/pattern.png');
}
#myvideo {
    z-index: -1;
    position: fixed;
    top: 0;
    min-width: 100%;
    min-height: 100%;
}
.wrap {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
}
.c-con{
    position: absolute;
    z-index: 10;
    color: #fff;
    top: 20%;
    left:8em;
    width: 40em;
    line-height: 2em;
    word-wrap: break-word;
    background: rgba(0, 0, 0, 0.2);
    padding: 2em;
    border-radius: 5px;
    font-size: 16px;
}
.c-title{
    height: 70px;
    font-size: 60px;
    line-height: 60px;
    margin: 0.3em 0;
    cursor: pointer;
}
.c-title>img{
    width: 1em;
}
.icontitle{
    position: relative;
    top: -1.2em;
    left: 1.2em;
}
.grade::before{
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, .3);
    margin: 1em 0;
}
.grade>img{
    width: 2em;
}
.grade>span{
    position: relative;
    top: -.5em;
    left: 1em;
}
.provider>.item{
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.7);
    width: 4em;
    height: 4em;
    text-align: center;
    display: inline-block;
    margin:.5em;
    cursor: pointer;
}
.provider>.item>img{
    width: 3em;
    margin:.5em 0;
}


/*------------------移动端--------------*/
.m-box{
    width: 100%;
    padding-top: 60px;
    background: url('../img/bg.png');
    background-repeat: repeat-y;
    min-height: 100vh;
}
.m-myvideo{
    margin-top:1em;
    max-width: 100%;
    max-height: 100%;
}
.m-con{
    color: #ffffff;
    padding: 2em;
    border-radius: 4px;
}
.m-title{
    font-size: 36px;
    line-height: 60px;
    height: 60px;
}
.m-title>img{
    width: 40px;
}
.m-title>.icontitle{
    position: relative;
    top: -1.9em;
    left: 1.2em;
}
.m-info{
    text-indent: 2em;
    font-size: 16px;
    line-height: 1.5;
}